.container {
    background-color: #111111;
    border-top: 1px solid gray;
    color: #FFFFFF;
}

.logoImg {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    gap: 20px;
    text-decoration: none;
}

.logoImg img {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.contactLinks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
    color: #FFFFFF;
}

.contactLinks p {
    text-align: left;
}

.contactLinks a:hover {
    color: #d3d3d3;
}

.textContainer h2 {
    color: #FFFFFF;
    border-bottom: 1px dotted;
    padding-bottom: 10px;
}

.textContainer p {
    text-align: justify;
}

.textContainer li {
    color: #d3d3d3;
    font-weight: 400;
}

.textContainer {
    width: 33.33%;
}

.textContainerLinks li {
    color: #d3d3d3;
}

.textContainerLinks h2 {
    color: #FFFFFF;
    border-bottom: 1px dotted;
    padding-bottom: 10px;
}